.container{
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
}

h1{
    font-size: calc(1.5rem + 6 * (100vw - 320px) / 880);
}

.search
{
    width: 40%;
    height: 2em;
    color: green;
}

.find
{
    padding-left: 10px;
    padding-right: 10px;
    height: 2em;
    color: green;
}
.search:hover
{
    color: red;
}

.find:hover
{
    color: red;
}

