<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title><%= title %></title>
</head>
<body>
    <div class="input">
            <input class="login_1_1" id="Login" type="text" placeholder = "Enter your login" style="margin-top: 50px;">
            <img src="../img/eye.png" alt="" style="visibility: hidden;">
            <br>
            <input class="login_1_2" id = "Password_Enter_form" type="password" placeholder = "Enter your password">

            <button id="Click"><img id="Icon_Enter_form" src="../img/eye.png" alt=""></button>
            <br>
            <button><a href="Registration_form.html">Register</a></button>

            <button id="Enter" >Enter</button>
            <button><a href="../html/test.html">Test</a></button>
            <button><a href="Registration_form.html">Register</a></button>

            <button id="Enter" >Enter</button>
        </div>
    </div>

</body>
<script type="module" src="../js/design_of_forms/Enter_form.js"></script>
</html>