.thanos{
    height: 300px;
}

.man{
    height: 100px;
}

.thanos:hover + table tr:nth-child(odd) td:nth-child(odd){
	opacity: 0;
}	
.thanos:hover + table tr:nth-child(even) td:nth-child(even){
	opacity: 0;
}

