.search
{
    width: 40%;
    height: 2em;
    color: green;
}

.find
{
    padding-left: 10px;
    padding-right: 10px;
    height: 2em;
    color: green;
}
.search:hover
{
    color: red;
}

.find:hover
{
    color: red;
}

